$base-spacing: 20px;

$xxs-spacing: calc(#{$base-spacing} / 2);
$xs-spacing: #{$base-spacing};
$sm-spacing: calc(#{$base-spacing} * 1.5);
$std-spacing: calc(#{$base-spacing} * 2);
$lg-spacing:  calc(#{$base-spacing} * 4);

$card-dim: 400px;
$badge-width: 160px;
$badge-height: 100px;
$max-cards: 4;
$layout-max-width: calc(#{$max-cards} * #{$card-dim} + calc(#{$max-cards} - 1) * #{$xs-spacing});

$break-2cols: calc(#{$card-dim} * 2 + #{$sm-spacing} * 2 + #{$xs-spacing});
$break-3cols: calc(#{$card-dim} * 3 + #{$sm-spacing} * 2 + #{$xs-spacing} * 2);
$break-4cols: calc(#{$card-dim} * 4 + #{$sm-spacing} * 2 + #{$xs-spacing} * 3);

$lay2colswidth: calc(#{$card-dim} * 2 + #{$xs-spacing});
$lay3colswidth: calc(#{$card-dim} * 3 + #{$xs-spacing} * 2);
$lay4colswidth: calc(#{$card-dim} * 4 + #{$xs-spacing} * 3);
